<html>
<table id="user-repair-list" class="table table-striped signed-in-view">
{{#each repairs as |repair|}}

<tr>
  <td class='repairs-list' data-id="{{repair.id}}">
    <td>{{repair.year}}</td>
    <td>{{repair.make}}</td>
    <td>{{repair.model}}</td>
    <td>{{repair.repairname}}</td>
    <td>{{repair.repaircost}}</td </td>
    <td><button data-id="{{repair.id}}" type="click" class="btn btn-primary update-repair-button">Update</button></td>
    <td><button repairId="{{repair.id}}" type="click" class="btn btn-danger delete-repair-button">Delete</button></td>
  </td>
  </tr>
{{/each}}
</table>
</html>
